@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* COLORS */
  --primary-font-color: #fff;

  /* FONTS */
  --FS-I: "Inter", serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 66.7%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: 1.3rem;
  color: black;
  font-family: var(--FS-I);
  background: white;
}

/* GENERAL STYLING */
a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

img {
  width: 100%;
  height: 100%;
}

/* Header */
.header {
  /* background: linear-gradient(180deg, #12132b, #0f111a); */
  /* background-color: #12132b; */
  /* height: 100vh;
  width: 100%; */
}

.header li {
  padding: 2rem 5rem;
}

/* NavBar */
.nav-banner {
  background: linear-gradient(to bottom, #11121b 100%, #00000000 0%);
}
.home {
  background: red;
  height: 100vh;
  width: 100%;
}
